# ---------- General compiled outputs ----------
*.exe
*.dll
*.lib
*.obj
*.o
*.so
*.class
*.com
# Don't commit zip submissions
*.zip
# Doxygen output
html/
Worksheet5/html/


# ---------- MSVC / Visual Studio build artifacts ----------
*.exp
*.pdb
*.ilk
*.idb
*.pch
*.ipch
*.tlog
*.log
*.VC.db
*.opendb
*.suo
*.user

# ---------- Build / output folders ----------
build/
out/
bin/
obj/
Debug/
Release/
x64/
Win32/
.vs/
